@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
#root {
  margin: 0 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.drop-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Custom Fonts */
@font-face {
  font-family: "lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf") format("ttf");
  /* Add other font formats and variations if needed */
}

/* Custom Fonts */
@font-face {
  font-family: "merryweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("ttf");
  /* Add other font formats and variations if needed */
}
